RewriteEngine On

RewriteCond %{HTTP_REFERER} playground\.blockaid\.io [NC]
RewriteRule ^ - [F,L]

RewriteCond %{HTTP_USER_AGENT} ^$
RewriteRule ^ - [F,L]

RewriteCond %{HTTP_USER_AGENT} (sqlmap|nikto|masscan|nmap|zgrab|zgrab2|curl|wget|python|python-requests|go-http-client|httpx|gobuster|ffuf|dirb|dirbuster|feroxbuster|wpscan|whatweb|acunetix|netsparker|nessus|openvas) [NC]
RewriteRule ^ - [F,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [L]
